@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
}

@keyframes spotlight {
  0%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-20px);
  }
}

.animate-spotlight {
  animation: spotlight 8s ease-in-out infinite;
}

html {
 scroll-behavior: smooth;
}