@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spotlight {
  0%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-20px);
  }
}

.animate-spotlight {
  animation: spotlight 8s ease-in-out infinite;
}

html {
 scroll-behavior: smooth;
}